@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-sure: #e8e8e8;
  --color-dark: #222831;
  --first-color-principal: #f05454;
  --second-color-principal: #30475e;
  --font-principal: "Signika Negative", sans-serif;
}
