{% extends 'struct_base1.html' %} {% block head_content %}
<title>Edit Publication : {{publication.id}}</title>
{% endblock head_content %} {% block body_content %}
<div class="container">
  <div class="detail">
    <div class="detail__body">
      <div class="body__publication">
        <div class="publications__actions">
          <button class="actions__delete">Eliminar</button>
          {% if not publication.availability %}
          <a
            href="{% url 'publications:change_state' publication.id %}"
            class="actions__exchange"
            >Vendido o intercambiado</a
          >
          {% endif %}
        </div>
        <div class="publication__date-details">
          Fecha de publicacion:
          <time datetime="{{publication.publication_date}}"
            >{{publication.publication_date}}</time
          >
        </div>
        <div class="publication__image">
          <img
            class="
              publication__image__images
              publication__image__images--image__front
            "
            src="{{publication.image_front.url}}"
            alt=""
          />
          <img
            class="publication__image__images publication__image__images--back"
            src="{{publication.image_back.url}}"
            alt=""
          />
        </div>
        <div class="publication__description">
          <p>Descripcion: {{publication.description}}</p>
        </div>
        <div class="publication__details">
          <div>{{publication.tag_musical_genre}}</div>
          {% if publication.exchange == 1 %}
          <div class="publication__details__exchange--true">CAMBIO</div>
          {% else %}
          <div class="publication__details__exchange--false">NO CAMBIO</div>
          {% endif %}
          <div>PRECIO : {{publication.price}}</div>
        </div>
        <div class="publication__content">
          <p>contenido: {{publication.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'publications/modal.html' %} {% endblock body_content %}
