{% extends 'publications/struct.html' %} {% block head_content %}
<title>Lista de publicaciones</title>
{% endblock head_content %} {% block body_content %}
<div>
  {% for publication in publications %}
  <div>
    <small>{{publication.user.username}}</small>
    <div>
      <img src="{{publication.image_front.url}}" alt="" />
      <img src="{{publication.image_back.url}}" alt="" />
    </div>
    <div>
      <p>{{publication.description}}</p>
    </div>
    <b>{{publication.price}}</b>
  </div>
  {% endfor %}
</div>
{% endblock body_content %}
