* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-sure: #e8e8e8;
  --color-dark: #222831;
  --first-color-principal: #f05454;
  --second-color-principal: #30475e;
  --font-principal: "Signika Negative", sans-serif;
}

body {
  background-color: var(--color-sure);
  background-image: radial-gradient(
      var(--color-dark) 1.4000000000000001px,
      transparent 1.4000000000000001px
    ),
    radial-gradient(
      var(--color-dark) 1.4000000000000001px,
      var(--color-sure) 1.4000000000000001px
    );
  background-size: 56px 56px;
  background-position: 0 0, 28px 28px;
  position: relative;
}

.container {
  padding: 5em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.container__publication {
  margin: 1em 0.5em;
  width: 500px;
  border-radius: 1em;
  background: #e8e8e8;
  box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
  height: max-content;
}

.publication__info-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  text-decoration: none;
}

.publication__info-user p {
  font-family: var(--font-principal);
  color: var(--color-dark);
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: -1px;
}

.publications__info-user__photo {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 0.1em dashed var(--second-color-principal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.publications__info-user__photo img {
  border-radius: 100%;
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.publication__date {
  border-top: 0.1em solid var(--second-color-principal);
  text-align: center;
  font-family: var(--font-principal);
  color: var(--second-color-principal);
  font-size: 1em;
  font-weight: 300;
  padding: 0.5em 0;
}

.publication__image {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 400px;
}

.publication__image__images {
  width: 100%;
}

.publication__image__images--image__front {
  height: 400px;
}

.publication__image__images--back {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  transition-property: height;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.publication__image:hover .publication__image__images--back {
  height: 400px;
  cursor: pointer;
}

.publication__description,
.publication__content {
  font-family: var(--font-principal);
  font-size: 1em;
  line-height: 1em;
  padding: 0.5em;
  color: var(--second-color-principal);
}

.detail {
  max-width: 100%;
  min-width: 60%;
}

.publication__details {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
}

.publication__details div {
  color: var(--color-sure);
  padding: 0.5em;
  border-radius: 0.5em;
  font-family: var(--font-principal);
  font-size: 0.8em;
  text-transform: lowercase;
}

.publication__details div:nth-child(1),
.publication__details div:nth-child(3) {
  background-color: var(--color-dark);
}

.publication__details__exchange--true {
  background-color: var(--first-color-principal);
}

.publication__details__exchange--false {
  background-color: var(--second-color-principal);
}

.container__form {
  background-color: var(--color-dark);
  border-radius: 1em;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container__principal__paragraph {
  font-family: var(--font-principal);
  font-size: 1.1em;
  color: var(--color-sure);
  margin-bottom: 0.5em;
}
.container__principal__paragraph::first-line {
  text-transform: uppercase;
  font-weight: 600;
}
.container__form {
  display: flex;
  flex-direction: column;
}

.container__form__input {
  font-family: var(--font-principal);
  margin: 0.2em 0;
  padding: 0.5em 0.3em;
  border: none;
  height: 2em;
  width: 100%;
  color: var(--color-dark);
  border-radius: 0.3em;
  background-color: var(--color-sure);
}

.container__form__input--submit {
  background-color: var(--first-color-principal);
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.container__form__input--submit:hover {
  background-color: var(--color-sure);
}

.container__pararaph-link {
  margin: 0.6em;
  font-family: var(--font-principal);
  color: var(--color-sure);
}

.container__link {
  text-decoration: none;
}

.fa-play {
  color: var(--second-color-principal);
  font-size: 1.5em;
  text-shadow: 0px 0px 1px var(--color-sure);
}

.fa-play:hover {
  color: var(--first-color-principal);
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.container__form__input-image {
  width: 100%;
  position: relative;
  display: inline-block;
}

.container__form__input-image::before {
  background-color: var(--color-sure);
  color: var(--color-dark);
  font-family: var(--font-principal);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3em;
  content: "Seleciona una imagen";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container__form__input-image input[type="file"] {
  opacity: 0;
  height: 2em;
  display: inline-block;
}

.container__form__textarea {
  font-family: var(--font-principal);
  background-color: var(--color-sure);
  width: 100%;
  color: var(--color-dark);
  border-radius: 0.3em;
  border: none;
  margin: 0.2em 0;
  padding: 0.5em 0.3em;
  resize: none;
}

.container-errors {
  text-align: center;
  color: var(--first-color-principal);
  font-family: var(--font-principal);
  height: min-content;
  width: min-content;
  margin: 0.2em;
}

.select__option {
  font-family: var(--font-principal);
  background-color: var(--color-sure);
}

.container__label {
  text-align: center;
  font-family: var(--font-principal);
  color: var(--color-sure);
}

.container__form_select {
  font-family: var(--font-principal);
  border: none;
  width: 100%;
  color: var(--color-dark);
  border-radius: 0.3em;
  background-color: var(--color-sure);
}

.container__paragraph {
  font-family: var(--font-principal);
  font-weight: 700;
  color: var(--first-color-principal);
  font-size: 1.2em;
}

.container__detail,
.container__edit {
  max-width: 100%;
  min-width: 60%;
  border-radius: 1em;
  background: #e8e8e8;
  box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
}

.detail__header,
.edit__header {
  display: flex;
  min-height: 250px;
  flex-wrap: wrap;
  padding: 1em;
}

.edit__header > div {
  flex-grow: 1;
}

.header__presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation__photo {
  border-radius: 100%;
  border: 0.1em dashed var(--second-color-principal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentation__photo--detail {
  width: 100px;
  height: 100px;
}

.presetation__photo--edit {
  position: relative;
  width: 150px;
  height: 150px;
}

.presentation__photo--detail img {
  border-radius: 100%;
  object-fit: cover;
  width: 95px;
  height: 95px;
}

.presetation__photo--edit img {
  border-radius: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.presentation__container-edit-photo {
  background-color: rgba(34, 40, 49, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: height display;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container-edit-photo__input {
  visibility: hidden;
  display: none;
}

.container-edit-photo__button {
  padding: 0.3em;
  background-color: var(--color-sure);
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

.container-edit-photo__button i {
  font-size: 1.5em;
  color: var(--color-dark);
}

.container-edit-photo__span {
  font-family: var(--font-principal);
  text-align: center;
  color: var(--color-sure);
  font-size: 0.8em;
  margin-top: 0.2em;
}

.presentation__username {
  margin-top: 0.3em;
  font-family: var(--font-principal);
  font-size: 1.2em;
  letter-spacing: -1px;
  font-size: 500;
  color: var(--second-color-principal);
}

.presentation__username--edit {
  border: none;
  background-color: transparent;
  outline: none;
  transition-property: border-bottom;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.presentation__username:hover {
  border-bottom: 1px dashed var(--second-color-principal);
}

.detail__header > div {
  width: 50%;
}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__info label {
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: var(--font-principal);
  color: var(--color-dark);
  font-weight: 600;
  letter-spacing: 1.5px;
}

.info__list {
  margin-top: 0.3em;
  color: var(--second-color-principal);
  font-family: var(--font-principal);
  font-size: 0.9em;
}

.info__list li {
  margin: 1em 0;
  animation: change_list_style_type 1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite alternate-reverse;
}

.info__list li input {
  color: var(--second-color-principal);
  font-family: var(--font-principal);
  font-size: 0.9em;
  border: none;
  background-color: transparent;
  outline: none;
  transition-property: border-bottom;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.info__list li input:hover {
  border-bottom: 1px dashed var(--second-color-principal);
}

@keyframes change_list_style_type {
  0% {
    list-style-type: circle;
  }

  100% {
    list-style-type: disc;
  }
}

.header__info a {
  align-self: flex-end;
  text-decoration: none;
  color: var(--color-sure);
  background-color: var(--first-color-principal);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-family: var(--font-principal);
  text-transform: capitalize;
  transition-property: background-color text-decoration;
  transition-duration: 0.3s;
}

.header__info a:hover {
  background-color: var(--second-color-principal);
  text-decoration: underline;
}

.info__submit {
  border: none;
  outline: none;
  align-self: flex-end;
  text-decoration: none;
  color: var(--color-sure);
  background-color: var(--first-color-principal);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-family: var(--font-principal);
  text-transform: capitalize;
  transition-property: background-color text-decoration;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.info__submit:hover {
  background-color: var(--second-color-principal);
  text-decoration: underline;
}

.header__description {
  flex-basis: 100%;
  flex-grow: 1;
  text-align: center;
  font-family: var(--font-principal);
}

.header__description label {
  text-transform: capitalize;
  font-size: 1.5em;
  color: var(--color-dark);
  font-weight: 500;
  letter-spacing: 1.5px;
  text-decoration: overline;
}

.header__description p {
  margin-top: 0.3em;
  color: var(--second-color-principal);
}

.header__description textarea {
  width: 100%;
  margin-top: 0.3em;
  color: var(--second-color-principal);
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  font-family: var(--font-principal);
  font-size: 1em;
  transition-property: border-bottom;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header__description textarea:hover {
  border-bottom: 1px dashed var(--second-color-principal);
}

.detail__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail__body h1 {
  font-family: var(--font-principal);
  align-self: flex-start;
  margin: 0 0.3em;
  text-transform: capitalize;
  font-size: 2em;
  color: var(--color-dark);
  font-weight: 600;
  letter-spacing: 1.5px;
}

.body__publication {
  margin: 1em;
  /* width: min-content; */
  max-width: 500px;
  flex-grow: 1;
  border-radius: 1em;
  background: #e8e8e8;
  box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
  height: max-content;
}

.publication__link-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  text-decoration: none;
  color: var(--color-sure);
  background-color: var(--first-color-principal);
  border-radius: 0.5em;
  font-family: var(--font-principal);
  text-transform: capitalize;
  transition-property: background-color text-decoration;
  transition-duration: 0.3s;
}

.publication__link-edit:hover {
  background-color: var(--second-color-principal);
  text-decoration: underline;
}

.publication__date-details {
  text-align: center;
  font-family: var(--font-principal);
  color: var(--second-color-principal);
  font-size: 1em;
  font-weight: 300;
  padding: 0.5em 0;
}

.publications__actions {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-principal);
}

.publications__actions a {
  color: var(--color-sure);
  border-radius: 0.5em;
  padding: 0.5em 0;
  text-align: center;
  margin: 0.5em;
  text-transform: capitalize;
  transition-property: background-color text-decoration;
  transition-duration: 0.3s;
  text-decoration: none;
}

.actions__delete {
  background-color: var(--first-color-principal);
  color: var(--color-sure);
  border-radius: 0.5em;
  padding: 0.5em 0.5em;
  flex-basis: 100%;
  text-align: center;
  margin: 0.5em;
  text-transform: capitalize;
  transition-property: background-color text-decoration;
  transition-duration: 0.3s;
  border: none;
  cursor: pointer;
}

.actions__delete:hover {
  background-color: var(--second-color-principal);
}

.actions__exchange {
  background-color: var(--second-color-principal);
  color: var(--color-sure);
  border-radius: 0.5em;
  padding: 0.5em 0;
  flex-basis: 100%;
  text-align: center;
  margin: 0.5em;
  text-transform: capitalize;
  transition-property: background-color text-decoration;
  transition-duration: 0.3s;
  text-decoration: none;
}

.actions__exchange:hover {
  background-color: var(--first-color-principal);
}
