{% load static %}
<header class="header">
  <div class="header__box-image">
    <img src="{% static 'images/favicon.png' %}" alt="" />
  </div>
  <nav class="header__nav">
    <a
      href="{% url 'profiles:details' request.user.id %}"
      class="header__nav__a"
      >Perfil<i class="far fa-user"></i
    ></a>
    <a href="{% url 'publications:list' %}" class="header__nav__a"
      >Publicaciones<i class="fas fa-compact-disc"></i
    ></a>
    <a href="" class="header__nav__a">Buscar<i class="fas fa-search"></i></a>
    <a href="" class="header__nav__a"
      >Conversaciones<i class="far fa-comments"></i
    ></a>
    <a href="{% url 'publications:new' %}" class="header__nav__a"
      >Añadir<i class="fas fa-plus"></i
    ></a>
  </nav>
</header>
