{% extends 'struct_base2.html' %} {% block head_content %}
<title>Login User</title>
{% endblock head_content %} {% block body_content %} {% load static %}
<div class="container">
  <div class="container__principal">
    <img
      width="250"
      src="{% static 'images/login-signup.svg' %} "
      alt=""
      class="container__principal__image"
    />
    <p class="container__principal__paragraph">
      Ingresa a tu cuenta <br />
      y comienza un viaje fascinante buscando tu musica favorita
    </p>
  </div>
  <form
    method="POST"
    action=" {% url 'users:login' %} "
    class="container__form"
  >
    {% csrf_token %}
    <input
      class="container__form__input"
      type="text"
      placeholder="nombre de usuario"
      name="username"
      required
    />
    <input
      class="container__form__input"
      type="password"
      name="password"
      placeholder="contraseña"
      required
    />
    <input
      class="container__form__input container__form__input--submit"
      type="submit"
      value="Ingresar"
    />
  </form>
  <div class="container-errors">
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
  </div>

  <p class="container__pararaph-link">
    ¡no tienes una cuenta! crea una dando click en el boton de play
  </p>
  <a class="container__link" href=" {% url 'profiles:signup' %} "
    ><i class="fas fa-play"></i
  ></a>
</div>
{% endblock body_content %}
