{% extends 'struct_base2.html' %} {% block head_content %}
<title>Sign-up User</title>
{% endblock head_content %} {% block body_content %} {% load static %}
<div class="container">
  <div class="container__principal">
    <img
      width="150"
      src=" {% static 'images/login-signup.svg' %} "
      alt=""
      class="container__principal__image"
    />
    <p class="container__principal__paragraph">
      Crea una Cuenta <br />
      y sumergete en un mundo de posibilidades para encontrar tu disco favorito
    </p>
  </div>
  <form
    method="POST"
    action="{% url 'users:signup' %} "
    class="container__form"
  >
    {% csrf_token %}
    <div>
      <input
        class="container__form__input"
        type="text"
        placeholder="nombre de usuario"
        name="username"
        required
        minlength="3"
        maxlength="40"
      />
      <div class="container-errors">
        {% for error in form.username.errors %} {{error}} {% endfor %}
      </div>
    </div>
    <div>
      <input
        class="container__form__input"
        type="email"
        name="email"
        placeholder="correo"
        required
        minlength="13"
      />
      <div class="container-errors">
        {% for error in form.email.errors %} {{error}} {% endfor %}
      </div>
    </div>
    <div>
      <input
        class="container__form__input"
        type="password"
        name="password"
        placeholder="contraseña"
        minlength="8"
        required
      />
      <div class="container-errors">
        {% for error in form.password.errors %} {{error}} {% endfor %}
      </div>
    </div>
    <input
      class="container__form__input"
      type="password"
      name="password_confirmation"
      placeholder="confirma tu contraseña"
      minlength="8"
      required
    />
    <div>
      <input
        class="container__form__input"
        type="text"
        name="first_name"
        placeholder="nombre"
        minlength="3"
        maxlength="40"
        required
      />
      <div class="container-errors">
        {% for error in form.first_name.errors %} {{error}} {% endfor %}
      </div>
    </div>
    <div>
      <input
        class="container__form__input"
        type="text"
        name="last_name"
        placeholder="apellido"
        minlength="3"
        maxlength="40"
        required
      />
      <div class="container-errors">
        {% for error in form.last_name.errors %} {{error}} {% endfor %}
      </div>
    </div>
    <input
      class="container__form__input container__form__input--submit"
      type="submit"
      required
      value="Crear Cuenta"
    />
  </form>
</div>
{% endblock body_content %}
