{% extends 'struct_base2.html' %} {% block head_content %}
<title>update profile: @{{request.user.username}}</title>
{% endblock head_content %} {% block body_content %} {% load static %}
<div class="container">
  <div class="container__principal">
    <img
      width="250"
      src=" {% static 'images/update.svg' %} "
      alt=""
      class="container__principal__image"
    />
    <p class="container__principal__paragraph">
      ¡Genial Creaste una cuenta! <br />
      ahora actualiza tu perfil con los datos mas importantes
    </p>
  </div>
  <form
    action=" {% url 'profiles:update' %} "
    method="POST"
    class="container__form"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="container__form__input-image">
      <input type="file" name="photo" required />
    </div>
    <div>
      <input
        class="container__form__input"
        type="number"
        placeholder="numero de telefono:"
        name="phone_number"
        required
        minlength="7"
        value="{% if form.errors %}{{form.phone_number.value}}{% endif %}"
      />
      <div class="container-errors">
        {% for error in form.phone_number.errors %} {{error}} {% endfor %}
      </div>
    </div>
    <div>
      <textarea
        class="container__form__textarea"
        name="interest"
        placeholder="Escribe aca tus intereses musicales"
        rows="5"
        required
        minlength="10"
        maxlength="255"
      >
{% if form.errors %}{{form.interest.value}}{% endif %}</textarea
      >
      <div class="container-errors">
        {% for error in form.interest.errors %} {{error}} {% endfor %}
      </div>
    </div>
    <input
      class="container__form__input container__form__input--submit"
      type="submit"
      value="Ingresar"
    />
  </form>
</div>
{% endblock body_content %}
